[GP_extract]
hostname = 'localhost'
database = 'pg-connectdb'
username = 'postgres'
pwd = 'Swaraj@4277'
port = 5432
ext_filetype = .parquet
ext_filepath = ''
ext_summarypath = ''

[SFTP]
source_path = ''
target_path = ''
src_usr = "dataeng1"
src_usr_pwd = 
src_hostname = "192.168.0.150"
trgt_usr = "hadoopeng1"
trgt_usr_pwd =
trgt_host = "192.168.0.158"
transfer_filepath =
transfer_filename =
transfer_filetype =

[FILE_TRANSFER_RECON]
src_summarypath =
trg_filepath =
trg_summarypath =

[DW_DATA_LOAD]
src_filepath =
sqlscript_path =
hostname =
database =
username = ''
pwd = ''
externaltable_schema = 
dw_schema =

[EMAIL]
sender = kasmotechnologies05@gmail.com
password = mgpfoazpvqaagdmh
receiver = Ppatukurianjali@gmail.com
subject = alerting

[WHATSAPP]
recipient_nos = CeszHj0a7fi0xyVqHFVGzR

[MESSAGE]
api_key = 8445b2c78605753c546d6922e6273514349fceb7
recipient_nos =
sender_key = 